/* container style -----------------------------------------------------------*/

.aside-container.aside-compact {
    float: right;
    width: 40%;
    margin-top: 0;
    margin-right: 0;
    margin-left: var(--size-4-6);
    margin-bottom: var(--size-4-6);
   
    clear: both;
}

.aside-container img {
    margin: auto;
    margin-bottom: var(--size-4-6);
    border-radius: var(--size-4-3);
    display: block;
    max-height: 400px;
    ;
}

.aside-container p {
    margin: 0;
    width: auto;
}

.aside-container table {
    width: 100%;
    border-style: none;
    margin: 0;
}


/* content table style -------------------------------------------------------*/

.aside-content td {
    border: none;
    font-size: var(--font-ui-medium);
    border-top: var(--table-border-width) groove;
}

.aside-container td:first-child {
    color: var(--text-muted)
}


/* collapsed content table overrides -----------------------------------------*/

.aside-content.aside-compact tr {
    border-top: var(--table-border-width) groove;
    display: block;
}

.aside-content.aside-compact td {
    border: none;
    display: block;
}
